*.swp
bundle/
autoload/plug.vim
.yank_history_v2.txt
.easyclip
vimbackup/
.complete_plugin
love.ini
.vimshell/
sessions/
.github_token
feature.vim
local.vim
.vim-bookmarks
.netrwhist
org/
.neocomplete/
.love.vim
.gui_love.vim
